.modal.show {
  display: block;
}

.form-control {
  border: none;
  background: #171714;
  color: #a9aeb3;
}

#editTitle .modal-content {
  background: #272727;
}

#editTitle .modal-header {
  border: none;
}

#editTitle.show {
  display: flex;
}
#editTitle .modal-dialog {
  margin: auto;
}
.quil-background {
  background: white;
}

.image-url {
  color: var(--primary-color);
  text-decoration: none;
  word-break: break-all;
  transition: all ease 0.3s;
}
.image-url:hover {
  color: white;
}

.modal-footer {
  border: none;
}
