<div class="modal"  id="editTitle" [ngClass]="{'show': editTitleModal==1}">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

       <!-- Modal header -->  
<div class="modal-header">
    <h4 class="modal-title">Edit Title </h4>
    <button type="button" class="close" data-dismiss="modal" (click)="editTitleModal=0" style="color:white">&times;</button>
  </div>
  
  <!-- Modal body -->
  
  <div class="modal-body">
  <form [formGroup]="form1">
    <label for="ptitle">Enter the title:</label> <div  [ngClass]="{'spinner-grow text-warning spinner-grow-sm': editNameLoading==1}"></div>
  <div class="input-group ">
    <input type="text" class="form-control" formControlName="ptitle"
    [ngClass]="{'is-invalid': form1.get('ptitle').invalid}">
    <div class="input-group-append">
      <button class="btn btn-warning" [disabled]="form1.invalid" type="submit" (click)="updatePostTitle()">Update</button>
    </div>
    <div class="invalid-feedback" *ngIf="form1.get('ptitle').hasError('required')">Please enter a title</div>
  </div>
</form>

</div>
</div>
</div>
</div>
<div class="container">
    <div class="container">
        <h1 style="margin-top:20px">Heading <button (click)="editTitleModal=1" class="btn btn-sm btn-light"><i style="font-size: 1rem;" class="fas fa-pen"></i></button></h1>
        <p class="">23/03/2020</p>
        <h4>Type your post here :</h4>
        <br>
    </div>
    <div class="container">
        <ckeditor data="<p>Hello, world!</p>"></ckeditor>
    </div>
    <br>
 <div class="container">
     <button class="btn btn-warning">Save</button>
 </div>
</div>
<div class="modal-backdrop show" *ngIf="editTitleModal==1"  ></div>