<div class="your-post-title">
  <h3>Your Posts</h3>
  <p>You have published {{ postData?.length }} posts.</p>
</div>
<div class="top-posts" *ngIf="postData">
  <h5>
    Posts <span class="badge badge-warning">{{ postData?.length }}</span>
  </h5>

  <div *ngFor="let post of postData?.reverse()">
    <div class="post-card post">
      <div class="container row">
        <div class="col-md-4">
          <img
            src="{{
              post.image != null && post.image != ''
                ? post.image
                : 'assets/no-image.png'
            }}"
            onError="this.src='assets/no-image.png'"
            class="img-fluid img-responsive user-post-img"
            alt="Responsive image"
          />
        </div>
        <div class="col-md-5">
          <div class="inner-content">
            <h4 style="margin-bottom: 0.5rem;">
              <a class="simple-link" routerLink="/post/{{ post.id }}">{{
                post.title
              }}</a>
            </h4>
            <p>
              <span style="opacity: 0.6;">
                posted on {{ post.timestamp | date: "yyyy-MM-dd h:mm a" }}
              </span>
            </p>
            <p>
              {{ post.likes }}
              <i class="fas fa-thumbs-up"></i>&nbsp; &nbsp;
              {{ post.comments }}
              <i class="fas fa-comment"></i>
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <button
            class="btn btn-outline-light btn-sm user-post-edit"
            routerLink="/edit/{{ post.id }}"
          >
            Edit <i class="fas fa-pen"></i>
          </button>
          <button
            class="btn btn-warning read-more btn-sm user-post-view"
            routerLink="/post/{{ post.id }}"
          >
            View <i class="fas fa-glasses"></i>
          </button>
        </div>
      </div>
    </div>
    <br />
  </div>

  <p class="load-more-posts lead">
    <a class="simple-link" href="#">load more</a>
  </p>
</div>
<div *ngIf="!postData" style="width: 100%; text-align: center;">
  <div
    class="spinner-grow text-warning spinner-grow-lg"
    style="align-self: center; margin: 80px;"
  ></div>
</div>
