.your-post-title {
  padding: 20px;
  padding-bottom: 0px;
}
.top-posts {
  padding-top: 0px;
}
.row {
  padding: 0;
  margin: auto;
}
.col-md-5,
.col-md-4,
.col-md-3 {
  align-self: center;
  text-align: center;
}
.col-md-3 {
  text-align: center;
}
.user-post-edit {
  margin-right: 10px;
}
.user-post-edit,
.user-post-view {
  margin-bottom: 10px;
}
.user-simple-link {
  color: var(--primary-color);
}
.user-simple-link:hover {
  color: var(--primary-color);
}
.user-post-img {
  object-fit: cover;
}
.post-card {
  cursor: default;
}
a {
  text-decoration: none;
}
