.bb-post-title {
  padding: 20px;
  padding-bottom: 0px;
}
.top-posts {
  padding-top: 0px;
}
.bb-post-content {
  margin: 20px;
}
.bb-post-image {
  width: 100%;
  text-align: center;
}
.bb-post-text {
  padding: 30px 20px 0px 20px;
}
.bb-like-share {
  margin: 20px 60px;
}
.bb-comment {
  margin: 10px 20px;
  display: flex;
  flex-wrap: nowrap;
}
.bb-comment img {
  padding: 10px;
}
.bb-comment pre {
  color: white;
  font-family: arial;
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word;
}
.bb-comment .post-card {
  width: 100%;
}
.btn-group-xs > .btn,
.btn-xs {
  padding: 0.25rem 0.4rem;
  font-size: 0.875rem;
  line-height: 0.5;
  border-radius: 0.2rem;
}
.post-card .btn {
  border-radius: 3px;
}
.comment-input-box {
  width: 100%;
  text-align: right;
}
.comment-input {
  width: 100%;
  text-align: left;
  padding: 10px;
  background-color: #171714;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
}

.comment-input-box .btn {
  text-align: center;
}
[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  opacity: 0.6;
  display: block; /* For Firefox */
}

.like-parent {
  position: relative;
  display: inline;
}
.list-likes {
  position: absolute;
  bottom: 27px;
  display: none;
  background: rgb(17, 16, 16);
  left: -10px;
  padding: 5px 10px;
}
.list-likes .user-like {
  font-size: 0.8rem;
  cursor: pointer;
}
.list-likes .user-like:hover {
  text-decoration: underline;
}
.like-parent:focus .list-likes {
  display: block;
}
.like-parent:focus {
  outline: none;
}
.list-likes:hover {
  display: block;
}
.list-likes i {
  position: absolute;
  color: rgb(17, 16, 16);
  bottom: -10px;
}
.unlike {
  font-size: 1.5em;
  vertical-align: middle;
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s ease;
}
.unlike:hover {
  transform: scale(1.1);
}
.like {
  font-size: 1.5em;
  vertical-align: middle;
  cursor: pointer;
  transition: all 0.3s ease;
}
.like:hover {
  color: var(--primary-color);
  transform: scale(1.1);
}
.delete-icon {
  color: #dc3545;
  cursor: pointer;
  transition: all 0.3s ease;
}
.delete-icon:hover {
  color: #ff5263;
}
.modal.show {
  display: block;
}

#editTitle .modal-content {
  background: #272727;
}

#editTitle .modal-header {
  border: none;
}

#editTitle.show {
  display: flex;
}
#editTitle .modal-dialog {
  margin: auto;
}
.modal-footer {
  border: none;
}
.social-media {
  background-color: #3a3a3a;
  /* background: #1877f2; */
  border: none;
  border-radius: 30px;
  padding: 10px 15px;
  color: white;
  margin: 0rem 1rem 1rem 0rem;
  outline: none;
}
.social-media:hover {
  background-color: #3a3a3a;
  color: white;
}
.modal-title i {
  font-size: 1.2rem;
}
.share-facebook {
  background-color: #1877f2;
  transition: all 0.3s ease;
}
/* .share-facebook:hover {
  background-color: #3a3a3a;
  color: #1877f2;
} */
.share-pinterest {
  background-color: #e60023;
  transition: all 0.3s ease;
}
/* .share-pinterest:hover {
  background-color: #3a3a3a;
  color: #e60023;
} */
.share-twitter {
  background-color: #1da1f2;
  transition: all 0.3s ease;
}
/* .share-twitter:hover {
  background-color: #3a3a3a;
  color: #1da1f2;
} */
.share-linkedin {
  background-color: #0073b1;
  transition: all 0.3s ease;
}
/* .share-linkedin:hover {
  background-color: #3a3a3a;
  color: #0073b1;
} */
.no-results {
  text-align: center;
  margin: 4rem auto;
}
.sad-results {
  color: #dc3545;
}
.no-results p {
  opacity: 0.7;
}
