<div class="no-results" *ngIf="removedPost">
  <div class="sad-results">
    <i class="fas fa-exclamation-triangle fa-2x"></i>
  </div>
  <h5>Post removed</h5>
  <p>Unfortunately this post has been removed by the user.</p>
  <p>Try searching something else.</p>
</div>

<div *ngIf="postData">
  <div class="bb-post-title">
    <h3>{{ postData.title }}</h3>
    <span style="display: inline-block;">
      <span style="opacity: 0.6;"
        >posted on {{ postData.timestamp | date: "yyyy-MM-dd h:mm a" }} ~</span
      ><a
        routerLink="/profile/{{ postData.username }}"
        class="simple-link"
        style="opacity: 1;"
        >{{ postData.username }}</a
      >&nbsp;
      <div
        *ngIf="postData.username != cookieUsername && checkFollowDone"
        class="follow-div"
      >
        <button
          class="follow-btn"
          *ngIf="!profileFollowed"
          (click)="followPostUser()"
        >
          <strong>Follow</strong>
        </button>
        <button
          class="follow-btn unfolowed"
          *ngIf="profileFollowed"
          (click)="unfollowPostUser()"
        >
          <strong>Unfollow</strong>
        </button>
      </div>
    </span>
  </div>
  <div class="bb-post-content">
    <div class="post-card">
      <div class="bb-post-image">
        <img
          src="{{
            postData.image != null && postData.image != ''
              ? postData.image
              : 'assets/no-image.png'
          }}"
          onError="this.src='assets/no-image.png'"
          class="img-fluid"
          alt="Responsive image"
          style="margin: auto;"
        />
      </div>
      <div class="bb-post-text" [innerHTML]="postData.text"></div>
    </div>
  </div>
  <div class="bb-like-share">
    <i
      class="fas fa-heart unlike post-bottom-item"
      (click)="unlike()"
      *ngIf="liked == 1"
    ></i>
    <i
      class="far fa-heart like post-bottom-item"
      (click)="like()"
      *ngIf="liked == 0"
    ></i
    >&nbsp;
    <div class="like-parent post-bottom-item" tabindex="1234">
      <span *ngIf="likesList" style="cursor: pointer;"
        >{{ likesList.length }} likes</span
      >
      <div class="list-likes" *ngIf="likesList">
        <div
          class="user-like"
          *ngFor="let like of likesList"
          routerLink="/profile/{{ like.username }}"
        >
          {{ like.username }}
        </div>
        <i class="fas fa-caret-down"></i>
      </div>
    </div>
    <!-- <button class="btn btn-sm btn-warning">
      Share <i class="fas fa-share"></i>
    </button> -->
    &nbsp;
    <button
      routerLink="/edit/{{ id }}"
      *ngIf="postData.username == cookieUsername"
      class="btn btn-sm btn-warning post-bottom-item"
    >
      <strong>Edit this post </strong> <i class="fas fa-edit"></i>
    </button>
    &nbsp;
    <button
      class="btn btn-sm btn-light post-bottom-item"
      (click)="sharePostModal = 1"
    >
      <strong>Share </strong> <i class="fas fa-share"></i>
    </button>
    &nbsp;
    <button
      class="btn btn-sm btn-dark post-bottom-item report-btn"
      (click)="reportPostModal = 1"
      *ngIf="showReportButton"
    >
      <strong>Report </strong> <i class="fas fa-flag"></i>
    </button>
  </div>

  <div class="bb-comment">
    <img src="assets/image/{{ currentUserImg }}" width="80px" height="80px" />
    <div class="post-card comment-input-box">
      <input
        type="text"
        class="comment-input"
        placeholder="share your comment here!"
        #commentText
        required
      />
      <button
        [disabled]="commentText.invalid"
        class="btn btn-warning btn-sm"
        style="margin-top: 10px;"
        (click)="addComment()"
      >
        Comment
      </button>
    </div>
  </div>
  <div class="bb-comment" *ngFor="let comment of comments">
    <img
      src="assets/image/{{
        comment.userimage == null ? '01.png' : comment.userimage
      }}"
      width="80px"
      height="80px"
    />
    <div class="post-card">
      <h5>
        <a routerLink="/profile/{{ comment.username }}" class="simple-link">{{
          comment.username
        }}</a>
      </h5>
      <pre>{{ comment.text }}</pre>
      <p style="opacity: 0.6; margin: 0; display: inline-block;">
        {{ comment.timestamp | date: "yyyy-MM-dd h:mm a" }}
      </p>
      &nbsp;
      <i
        *ngIf="cookieUsername == comment.username"
        class="fas fa-trash delete-icon"
        (click)="deleteCommentId = comment.id; openDeleteModal()"
      ></i>
      <!-- &nbsp;<button class="btn btn-xs btn-warning">
        <i class="fas fa-thumbs-up"></i>
      </button>
      432 likes -->
    </div>
  </div>
</div>

<!--Modal for deleting comment-->
<div
  class="modal"
  id="editTitle"
  *ngIf="comments"
  [ngClass]="{ show: deleteCommentModal == 1 }"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <!-- Modal header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Comment</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="deleteCommentModal = 0"
          style="color: white;"
        >
          &times;
        </button>
      </div>

      <!-- Modal body -->

      <div class="modal-body">
        <p>Are your sure you want to delete this comment?</p>
      </div>

      <div class="modal-footer">
        <button (click)="deleteComment()" class="btn btn-danger">DELETE</button>
      </div>
    </div>
  </div>
</div>

<!--Modal For Reporting Post-->
<div
  class="modal"
  id="editTitle"
  *ngIf="comments"
  [ngClass]="{ show: reportPostModal == 1 }"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <!-- Modal header -->
      <div class="modal-header" style="padding-bottom: 0px;">
        <h4 class="modal-title">Report Post</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="reportPostModal = 0"
          style="color: white;"
        >
          &times;
        </button>
      </div>

      <!-- Modal body -->

      <div class="modal-body">
        <p style="margin: 0;">Are your sure you want to report this post?</p>
      </div>

      <div class="modal-footer" style="padding-top: 0px;">
        <button (click)="reportPost()" class="btn btn-dark">REPORT</button>
      </div>
    </div>
  </div>
</div>

<!--Modal for sharing article-->
<div
  class="modal"
  id="editTitle"
  *ngIf="postData"
  [ngClass]="{ show: sharePostModal == 1 }"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <!-- Modal header -->
      <div class="modal-header">
        <h4 class="modal-title">
          Share This Post <i class="fas fa-share"></i>
        </h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="sharePostModal = 0"
          style="color: white;"
        >
          &times;
        </button>
      </div>

      <!-- Modal body -->

      <div class="modal-body" *ngIf="baseLocation">
        <a
          href="{{
            'https://www.facebook.com/sharer/sharer.php?u=' +
              baseLocation +
              '/post/' +
              id
          }}"
          target="_blank"
          ><button class="social-media share-facebook">
            <i class="fab fa-facebook"></i></button
        ></a>
        <a
          href="{{
            'https://pinterest.com/pin/create/button/?url=' +
              baseLocation +
              '/post/' +
              id +
              '&media=&description=Check out the article.
            '
          }}"
          target="_blank"
          ><button class="social-media share-pinterest">
            <i class="fab fa-pinterest"></i></button
        ></a>
        <a
          href="{{
            'https://twitter.com/intent/tweet?text=Checkout this article. ' +
              baseLocation +
              '/post/' +
              id
          }}"
          target="_blank"
          ><button class="social-media share-twitter">
            <i class="fab fa-twitter"></i></button
        ></a>
        <a
          href="{{
            'https://www.linkedin.com/shareArticle?mini=true&url=' +
              baseLocation +
              '/post/' +
              id
          }}"
          target="_blank"
          ><button class="social-media share-linkedin">
            <i class="fab fa-linkedin-in"></i></button
        ></a>
        <a
          ><button class="social-media" (click)="copyTextAreaToClipBoard()">
            <i class="fas fa-copy"></i></button
        ></a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="spinner" style="width: 100%; text-align: center;">
  <div
    class="spinner-grow text-warning spinner-grow-lg"
    style="align-self: center; margin: 80px;"
  ></div>
</div>
<div
  class="modal-backdrop show"
  *ngIf="deleteCommentModal == 1 || sharePostModal == 1 || reportPostModal == 1"
></div>
