<div *ngIf="postData">
  <div class="bb-post-title">
    <h3>{{ postData.title }} <i class="far fa-star"></i></h3>
    <p>
      <span style="opacity: 0.6;"
        >posted on {{ postData.timestamp | date: "yyyy-MM-dd h:mm a" }} ~</span
      ><a
        routerLink="/profile/{{ postData.username }}"
        class="simple-link"
        style="opacity: 1;"
        >{{ postData.username }}</a
      >
    </p>
  </div>
  <div class="bb-post-content">
    <div class="post-card">
      <div class="bb-post-image">
        <img
          src="{{
            postData.image != null && postData.image != ''
              ? postData.image
              : 'assets/no-image.png'
          }}"
          onError="this.src='assets/no-image.png'"
          class="img-fluid"
          alt="Responsive image"
          style="margin: auto;"
        />
      </div>
      <div class="bb-post-text" [innerHTML]="postData.text"></div>
    </div>
  </div>
  <div class="bb-like-share">
    <i class="fas fa-heart unlike" (click)="unlike()" *ngIf="liked == 1"></i>
    <i class="far fa-heart like" (click)="like()" *ngIf="liked == 0"></i>&nbsp;
    <span *ngIf="likesList">{{ likesList.length }} likes</span>
    <!-- <button class="btn btn-sm btn-warning">
      Share <i class="fas fa-share"></i>
    </button> -->
    &nbsp;
    <button
      routerLink="/edit/{{ id }}"
      *ngIf="postData.username == cookieUsername"
      class="btn btn-sm btn-warning"
    >
      <strong>Edit this post </strong> <i class="fas fa-edit"></i>
    </button>
  </div>

  <div class="bb-comment">
    <img src="assets/image/{{ currentUserImg }}" width="80px" height="80px" />
    <div class="post-card comment-input-box">
      <input
        type="text"
        class="comment-input"
        placeholder="share your comment here!"
        [formControl]="commentText"
        required
      />
      <button
        [disabled]="commentText.invalid"
        class="btn btn-warning btn-sm"
        style="margin-top: 10px;"
        (click)="addComment()"
      >
        Comment
      </button>
    </div>
  </div>
  <div class="bb-comment" *ngFor="let comment of comments?.reverse()">
    <img
      src="assets/image/{{
        comment.userimage == null ? '01.png' : comment.userimage
      }}"
      width="80px"
      height="80px"
    />
    <div class="post-card">
      <h5>
        <a routerLink="/profile/{{ comment.username }}" class="simple-link">{{
          comment.username
        }}</a>
      </h5>
      <pre>{{ comment.text }}</pre>
      <p style="opacity: 0.6; margin: 0; display: inline-block;">
        {{ comment.timestamp | date: "yyyy-MM-dd h:mm a" }}
      </p>
      &nbsp;<button class="btn btn-xs btn-warning">
        <i class="fas fa-thumbs-up"></i>
      </button>
      432 likes
    </div>
  </div>
</div>
