.search-body {
  padding: 2rem 1rem 0rem 1rem;
}
.search-length {
  font-size: 1.2rem;
  vertical-align: bottom;
}
.search-heading {
  margin-bottom: 1.5rem;
}
.post-content {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
  position: relative;
}
.post-content .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(39, 39, 39, 0), rgba(39, 39, 39, 1));
}
.no-results {
  text-align: center;
  margin: 4rem auto;
}
.sad-results {
  color: #dc3545;
}
.no-results p {
  opacity: 0.7;
}
