.search-body {
  padding: 2rem 1rem 0rem 1rem;
}
.search-length {
  font-size: 1.2rem;
  vertical-align: bottom;
}
.search-heading {
  margin-bottom: 1.5rem;
}
.post-content {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
  position: relative;
}
.post-content .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(39, 39, 39, 0), rgba(39, 39, 39, 1));
}
.tabs {
  margin: 0;
  border: none;
}
.tab-items h5 {
  margin: 0;
}
.tab-items {
  cursor: pointer;
}
.nav-link {
  border: none;
  border-bottom: 1px solid #414141;
}
.nav-link:hover {
  background-color: #1d1d1b;
}
.tab-items .active {
  background: #272727;
  color: white;
  border-top: 1px solid #414141;
  border-left: 1px solid #414141;
  border-right: 1px solid #414141;
  border-bottom: none;
}
.nav-link .badge {
  font-size: 0.8rem;
}
.no-results {
  text-align: center;
  margin: 4rem auto;
}
.sad-results {
  color: #dc3545;
}
.no-results p {
  opacity: 0.7;
}
.user-results {
  text-align: center;
}
.user-card {
  display: inline-block;
  max-width: 200px;
  background: #272727;
  padding: 10px;
  margin-top: 20px;
  margin-right: 20px;
}
.user-title {
  margin: 0;
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  white-space: nowrap;
  width: 185px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-name {
  margin: 0;
  margin-bottom: 10px;
  white-space: nowrap;
  width: 185px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-selectable {
  cursor: pointer;
}

.post-card.post .col-md-4 {
  display: grid;
  position: relative;
  padding: 0px;
}

.post-card.post .col-md-4 .backdrop-post-image {
  content: "";
  background-image: url("/assets/no-image.png");
  background-position: center;
  background-size: cover;
  opacity: 0.3;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}
.post-card.post .col-md-4 .img-fluid {
  align-self: center;
  z-index: 2;
}
.inner-content {
  padding-left: 20px;
}
@media only screen and (max-width: 476px) {
  .user-card {
    display: flex;
    max-width: 100%;
    width: 100%;
    text-align: left;
  }
  .user-img {
    max-width: 80px;
    display: flex;
  }
  .user-content {
    display: inline-block;
    padding: 0px 10px;
    width: 100%;
    vertical-align: middle;
  }
  .user-title {
    margin: 0;
    width: calc(60vw - 10px);
  }
  .user-name {
    width: calc(60vw - 10px);
  }
}
@media only screen and (max-width: 767px) {
  .row {
    padding: 0;
    margin: auto;
  }
  .col-md-5,
  .col-md-4,
  .col-md-8 {
    align-self: center;
    text-align: center;
  }
  .col-md-4 {
    margin-bottom: 2rem;
  }
  .new-post-title {
    width: 100%;
    margin: 0px;
    margin-top: 10px;
  }
  .post-card.post {
    padding: 0px;
  }
  .post-card.post .container {
    max-width: 100%;
  }
  .post-card.post .col-md-4 {
    margin: 0;
    padding: 0;
  }
  .inner-content {
    margin: 20px 10px 10px 10px;
  }
  .post-card.post img {
    width: 100%;
  }
}
