.wrapper .row{
    padding:30px;
    
    background: #272727;
    margin:auto;
    position: relative;
/*    transform:translateY(-50%);*/
}
.wrapper .container{
/*
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
*/
    width:100%;
    display: grid;
    place-items: center;
    height: 100vh;
}
.confirm-pass{
    padding:0px !important;
}
.confirm-pass .col{
    padding:0px;
}
.form-wrap{
    max-width:800px;
    
}
.form-control{
    border:none;
    background:#171714;
    color:#a9aeb3;
}
.form-wrap .col-sm-6{
    margin:20px 0px;
}
.form-group .is-invalid {
    border:1px solid #dc3545 !important;
}

.logo i{
    font-size:3rem;
}

.modal.show {
    display: block;
  }
  
  #about .modal-content {
    background: #272727;
  }
  
  #about .modal-header {
    border: none;
  }
  
  #about.show {
    display: flex;
  }
  #about .modal-dialog {
    margin: auto;
  }
  .modal-footer {
    border: none;
  }
  .dev-block {
    background-color: #3a3a3a;
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: 0.6rem;
    border-radius: 5px;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
  }
  .dev-credits {
    text-align: center;
  }