<ngx-spinner color="var(--primary-color)" name="spinnerLogin"> </ngx-spinner>
<div class="wrapper body-inverse">
  <!-- wrapper -->
  <div class="container">
    <div class="row form-wrap">
      <!-- Sign In form -->
      <div class="col-sm-6">
        <div class="logo-main">
          <div class="logo">
            <img
              src="assets/log.png"
              style="height: 35px; vertical-align: text-top;"
            />
          </div>
          <h1 style="font-size: 3rem;">TechLog</h1>
          <p class="lead" style="margin-bottom: 30px;">
            The world of technology you thought you never needed.
          </p>
        </div>
        <hr />
        <h3>Sign In to your account</h3>
        <p class="text-muted">
          Please fill out the form below to login to your account.
        </p>

        <div class="form-white">
          <form role="form" [formGroup]="form1">
            <div class="form-group">
              <label for="email">Email address</label>
              <input
                type="email"
                class="form-control"
                placeholder="Enter email"
                formControlName="email"
                [ngClass]="{
                  'is-invalid':
                    form1.get('email').touched && form1.get('email').invalid
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="form1.get('email').hasError('email')"
              >
                Email format is invalid
              </div>
              <div
                class="invalid-feedback"
                *ngIf="form1.get('email').hasError('required')"
              >
                Please enter an Email
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                formControlName="password"
                [ngClass]="{
                  'is-invalid':
                    form1.get('password').touched &&
                    form1.get('password').invalid
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="form1.get('password').hasError('required')"
              >
                Please enter a password
              </div>
              <div
                class="invalid-feedback"
                *ngIf="form1.get('password').hasError('pattern')"
              >
                Password should be greater than 8 characters, atleast an
                alphabet and a digit
              </div>
              <div
                class="invalid-feedback"
                *ngIf="form1.get('password').hasError('no_match')"
              >
                Wrong email or password
              </div>
            </div>
            <br />
            <button
              type="submit"
              class="btn btn-warning"
              [disabled]="form1.invalid"
              (click)="onLogin()"
            >
              Login
            </button>
          </form>
        </div>
      </div>

      <!-- Sign Up form -->
      <div class="col-sm-6">
        <h3 class="text-right-xs">Sign Up to your account</h3>
        <p class="text-muted text-right-xs">
          Please fill out the form below to create a new account.
        </p>
        <div class="">
          <form [formGroup]="form2">
            <div class="form-group">
              <label for="Name">Name</label>
              <input
                type="text"
                class="form-control"
                placeholder="Name"
                formControlName="rname"
                [ngClass]="{
                  'is-invalid':
                    form2.get('rname').touched && form2.get('rname').invalid
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="form2.get('rname').hasError('required')"
              >
                Please enter your name
              </div>
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                class="form-control"
                placeholder="Username"
                formControlName="rusername"
                [ngClass]="{
                  'is-invalid':
                    form2.get('rusername').touched &&
                    (form2.get('rusername').invalid ||
                      form2.get('rusername').hasError('user_name_exists'))
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="form2.get('rusername').hasError('required')"
              >
                Please enter an user name
              </div>
              <div
                class="invalid-feedback"
                *ngIf="form2.get('rusername').hasError('user_name_exists')"
              >
                Username Exists
              </div>
            </div>
            <div class="form-group">
              <label for="email2">Email address</label>
              <input
                type="email"
                class="form-control is-invalid"
                placeholder="Enter email"
                formControlName="remail"
                [ngClass]="{
                  'is-invalid':
                    form2.get('remail').touched &&
                    (form2.get('remail').invalid ||
                      form2.get('remail').hasError('email_id_exists'))
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="form2.get('remail').hasError('email')"
              >
                Email format is invalid
              </div>
              <div
                class="invalid-feedback"
                *ngIf="form2.get('remail').hasError('required')"
              >
                Please enter an Email
              </div>
              <div
                class="invalid-feedback"
                *ngIf="form2.get('remail').hasError('email_id_exists')"
              >
                Email Id Exists
              </div>
            </div>
            <div class="row confirm-pass">
              <div class="col form-group">
                <label for="pwd" class="mr-sm-2">Password:</label>
                <input
                  type="password"
                  class="form-control is-invalid"
                  placeholder="Enter password"
                  formControlName="rpassword"
                  [ngClass]="{
                    'is-invalid':
                      form2.get('rpassword').touched &&
                      form2.get('rpassword').invalid
                  }"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="form2.get('rpassword').hasError('required')"
                >
                  Please enter a password
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="form2.get('rpassword').hasError('pattern')"
                >
                  Password should be greater than 8 characters, atleast an
                  alphabet and a digit
                </div>
              </div>
              &nbsp; &nbsp;
              <div class="col form-group">
                <label for="pwd" class="mr-sm-2">Confirm Password:</label>
                <input
                  type="password"
                  class="form-control is-invalid"
                  placeholder="Enter password"
                  formControlName="rcpassword"
                  [ngClass]="{
                    'is-invalid':
                      form2.get('rcpassword').touched &&
                      (form2.get('rcpassword').invalid ||
                        form2.errors?.mismatch)
                  }"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="form2.get('rcpassword').hasError('required')"
                >
                  Password can not be empty!
                </div>
                <div class="invalid-feedback" *ngIf="form2.errors?.mismatch">
                  Passwords didn't match
                </div>
              </div>
            </div>
            <br />
            <button
              type="submit"
              class="btn btn-warning"
              [disabled]="form2.invalid"
              (click)="onRegister()"
            >
              Create an account
            </button>
          </form>
        </div>
      </div>
      <div class="side-tech row" style="padding: 0px;">
        <p class="simple-link" (click)="showAbout()">About</p>
        <p class="simple-link" (click)="showTOS()">Terms of Service</p>
        <p>©2020</p>
      </div>
    </div>    
  </div>
</div>

<!--Modal for about of LoginComponent-->
<div class="modal" id="about" [ngClass]="{ show: aboutModal == 1 }">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <!-- Modal header -->
      <div class="modal-header">
        <h4 class="modal-title">About</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="aboutModal = 0"
          style="color: white;"
        >
          &times;
        </button>
      </div>

      <!-- Modal body -->

      <div class="modal-body" style="padding-top: 0;">
        <p style="text-align: justify; opacity: 0.8;">
          Techlog is a forum where you can write about articles related to
          technology in general. You will be able to create posts as well as see
          new posts by others and comment on them to share your views and give
          likes. You can customise your profile by selecting your favourite
          avatar and writing about yourself.
        </p>
        <div class="dev-credits">
          <h6>
            By the unpaid folks
            <i class="fas fa-heart-broken" style="color: #dc3545;"></i>
          </h6>
          <a href="https://debadri.com/" target="_blank" class="simple-link"
            ><div class="dev-block">
              <i class="fas fa-award"></i>
              Debadri
            </div></a
          >
          <a href="https://atdebjoy.com/" target="_blank" class="simple-link"
            ><div class="dev-block">
              <i class="fas fa-award"></i>
              Debjoy
            </div></a
          >
          <a
            href="https://github.com/dchak001"
            target="_blank"
            class="simple-link"
            ><div class="dev-block">
              <i class="fas fa-award"></i>
              Dipan
            </div></a
          >
        </div>
      </div>

      <!-- <div class="modal-footer">
        <button (click)="showAbout()" class="btn btn-danger">DELETE</button>
      </div> -->
    </div>
  </div>
</div>

<!--Modal for Terms of service of LoginComponent-->
<div class="modal" id="about" [ngClass]="{ show: tosModal == 1 }">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <!-- Modal header -->
      <div class="modal-header">
        <h4 class="modal-title">Terms of service</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="tosModal = 0"
          style="color: white;"
        >
          &times;
        </button>
      </div>

      <!-- Modal body -->

      <div class="modal-body" style="padding-top: 0;">
        <p style="text-align: justify; opacity: 0.8;">
          This a website has similar colour combination of a holy place. If you
          don't recognize the colours, I believe heaven is the right place for
          you. Three developers tried to build this website with a motive which
          was never implemented. Every bug has been successfully turned into a
          feature. In this website you can post anything once you are
          registered. Trust us, there is no checker for valid or invalid email.
          The guy on the server didn't even put any security for password, its
          just string. Your privacy is protected as long as heroku (a free home for
          this site) permits. There is no ads because no body actually visits
          this site unless told by the developers.
        </p>
      </div>

      <!-- <div class="modal-footer">
        <button (click)="showAbout()" class="btn btn-danger">DELETE</button>
      </div> -->
    </div>
  </div>
</div>

<div class="modal-backdrop show" *ngIf="aboutModal == 1 || tosModal == 1"></div>

