.wrapper .row{
    padding:30px;
    
    background: #272727;
    margin:auto;
    position: relative;
/*    transform:translateY(-50%);*/
}
.wrapper .container{
/*
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
*/
    width:100%;
    display: grid;
    place-items: center;
    height: 100vh;
}
.confirm-pass{
    padding:0px !important;
}
.confirm-pass .col{
    padding:0px;
}
.form-wrap{
    max-width:800px;
    
}
.form-control{
    border:none;
    background:#171714;
}
.form-wrap .col-sm-6{
    margin:20px 0px;
}