<!-- <app-spinner></app-spinner> -->
<ngx-spinner color="var(--primary-color)" name="spinner1"> </ngx-spinner>
<div class="black-space"></div>
<div class="container-fluid view row">
  <div class="col-md-4 side-content">
    <div class="logo-main">
      <div class="logo">
        <img
          src="assets/log.png"
          style="height: 35px; vertical-align: text-top;"
        />
      </div>
      <h1>TechLog</h1>
    </div>

    <app-nav class=""></app-nav>
  </div>

  <div class="col-md-8 content">
    <div class="search">
      <!--Main LOGO starts-->
      <div class="logo-main">
        <div class="logo">
          <img
            src="assets/log.png"
            style="height: 25px; vertical-align: text-top;"
          />
        </div>
        <h1 [ngClass]="{ expand: search_expand }">TechLog</h1>
      </div>
      <!--Main LOGO ends-->

      <div class="top-filler"></div>
      <!--SEARCH BAR starts-->
      <div class="search-box">
        <form>
          <input
            type="text"
            #search_query
            [ngClass]="{ expand: search_expand }"
            placeholder="eg. Artificial"
          /><button class="btn btn-warning search-btn" (click)="onSearch()">
            <i class="fas fa-search"></i>
            <strong><span class="search-title">&nbsp;Search</span></strong>
          </button>
        </form>
      </div>
      <div class="option-menu" (click)="openned = !openned">
        <i class="fas" [ngClass]="openned ? 'fa-times' : 'fa-ellipsis-h'"></i>
      </div>
    </div>
    <!--SEARCH BAR ENDS-->
    <app-nav
      class="responsive-nav"
      [ngClass]="{ open: openned }"
      (click)="openned = !openned"
    ></app-nav>

    <router-outlet class="main"></router-outlet>
  </div>
</div>

<!--Modal for about of NavComponent-->
<div class="modal" id="about" [ngClass]="{ show: aboutModal == 1 }">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <!-- Modal header -->
      <div class="modal-header">
        <h4 class="modal-title">About</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="aboutModal = 0"
          style="color: white;"
        >
          &times;
        </button>
      </div>

      <!-- Modal body -->

      <div class="modal-body" style="padding-top: 0;">
        <p style="text-align: justify; opacity: 0.8;">
          Techlog is a forum where you can write about articles related to
          technology in general. You will be able to create posts as well as see
          new posts by others and comment on them to share your views and give
          likes. You can customise your profile by selecting your favourite
          avatar and writing about yourself.
        </p>
        <div class="dev-credits">
          <h6>
            By the unpaid folks
            <i class="fas fa-heart-broken" style="color: #dc3545;"></i>
          </h6>
          <a href="https://debadri.com/" target="_blank" class="simple-link"
            ><div class="dev-block">
              <i class="fas fa-award"></i>
              Debadri
            </div></a
          >
          <a href="https://atdebjoy.com/" target="_blank" class="simple-link"
            ><div class="dev-block">
              <i class="fas fa-award"></i>
              Debjoy
            </div></a
          >
          <a
            href="https://github.com/dchak001"
            target="_blank"
            class="simple-link"
            ><div class="dev-block">
              <i class="fas fa-award"></i>
              Dipan
            </div></a
          >
        </div>
      </div>

      <!-- <div class="modal-footer">
        <button (click)="showAbout()" class="btn btn-danger">DELETE</button>
      </div> -->
    </div>
  </div>
</div>

<!--Modal for Terms of service of NavComponent-->
<div class="modal" id="about" [ngClass]="{ show: tosModal == 1 }">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <!-- Modal header -->
      <div class="modal-header">
        <h4 class="modal-title">Terms of service</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="tosModal = 0"
          style="color: white;"
        >
          &times;
        </button>
      </div>

      <!-- Modal body -->

      <div class="modal-body" style="padding-top: 0;">
        <p style="text-align: justify; opacity: 0.8;">
          This a website has similar colour combination of a holy place. If you
          don't recognize the colours, I believe heaven is the right place for
          you. Three developers tried to build this website with a motive which
          was never implemented. Every bug has been successfully turned into a
          feature. In this website you can post anything once you are
          registered. Trust us, there is no checker for valid or invalid email.
          The guy on the server didn't even put any security for password, its
          just string. Your privacy is protected as long heroku (a free home for
          this site) permits. There is no ads because no body actually visits
          this site unless told by the developers.
        </p>
      </div>

      <!-- <div class="modal-footer">
        <button (click)="showAbout()" class="btn btn-danger">DELETE</button>
      </div> -->
    </div>
  </div>
</div>

<div class="modal-backdrop show" *ngIf="aboutModal == 1 || tosModal == 1"></div>
