.black-space {
  height: 10px;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 8;
  background-color: #171714;
}
.search-box input {
  outline: none;
}
.option-menu {
  display: none;
}
.search .logo-main {
  display: none;
}
.top-filler {
  display: none;
}
.responsive-nav {
  display: none;
}
@media screen and (max-width: 767px) {
  .side-content {
    display: none;
  }
  .top-filler {
    display: block;
    margin: auto;
  }
  .search-title {
    display: none;
  }
  .search-box input {
    transition: width 0.5s ease;
  }
  .search {
    display: inline-flex;
  }
  .search-box {
    margin: auto 5px;
  }
  .logo-main h1 {
    font-size: 1.7em;
    margin: 0;
  }
  .logo {
    display: inline-flex;
  }
  .logo-main .logo i {
    font-size: 0.8em;
  }
  .logo-main .logo i ::before {
    transition: all 0.5s ease;
  }
  .search .logo-main {
    display: block;
  }
  .option-menu {
    display: block;
    font-size: 1.5em;
    background-color: white;
    color: #272727;
    align-self: center;
    border-radius: 50px;
    padding: 0px 10px;
    cursor: pointer;
  }
  .responsive-nav {
    display: block;
    width: 0%;
    overflow-x: hidden;
    position: fixed;
    z-index: 8;
    height: 100vh;
    text-align: center;
    background-color: #272727;
    transition: all 0.5s ease;
  }
  .responsive-nav.open {
    width: 100%;
  }
  .search-box input.expand {
    width: 210px;
  }
}
@media screen and (max-width: 493px) {
  .search .logo-main h1.expand {
    display: none;
  }
  .search-box input {
    width: 0px;
    transition: width 0.5s ease;
  }
}
@media screen and (max-width: 392px) {
  .search-box input.expand {
    width: 140px;
  }
}


.modal.show {
  display: block;
}

#about .modal-content {
  background: #272727;
}

#about .modal-header {
  border: none;
}

#about.show {
  display: flex;
}
#about .modal-dialog {
  margin: auto;
}
.modal-footer {
  border: none;
}
