
 
  <div class="logo-main">
     <div class="logo">
         <i class="fas fa-stream"></i>
     </div>
     <h1>TechLog</h1>
  </div>
  
  <div class="side-user">
     <a routerLink="/"><h4><i class="fas fa-home"></i> &nbsp;Home</h4></a>
     <a  routerLink="/profile"><h4><i class="fas fa-user"></i> &nbsp;Profile</h4></a>
     <a  routerLink="/user-post"><h4><i class="far fa-list-alt"></i> &nbsp;Your Posts</h4></a>
     <a (click)="onLogout()"><h4><i class="fas fa-sign-out-alt"></i> &nbsp;Log Out</h4></a>
                    
  </div>
  
  <br><br>
  
  <div class="side-tech">
     <a class="simple-link" href="#"><p>About</p></a>
     <a class="simple-link" href="#"><p>Terms of Service</p></a>
     <p>©2019</p>
  </div >
                

