<div class="side-user">
  <a
    routerLink="/"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    ><h4><i class="fas fa-home"></i> &nbsp;Home</h4></a
  >
  <a routerLink="/profile" routerLinkActive="active-link"
    ><h4><i class="fas fa-user"></i> &nbsp;Profile</h4></a
  >
  <a routerLink="/user-post" routerLinkActive="active-link"
    ><h4><i class="far fa-list-alt"></i> &nbsp;Your Posts</h4></a
  >
  <span (click)="onLogout()" style="cursor: pointer;"
    ><h4><i class="fas fa-sign-out-alt"></i> &nbsp;Log Out</h4></span
  >
</div>

<br /><br />

<div class="side-tech">
  <p class="simple-link" (click)="showAbout()">About</p>
  <p class="simple-link" (click)="showTOS()">Terms of Service</p>
  <p>©2020</p>
</div>
