<div class="search">
                    
                    <div class="search-box"><input type="text" placeholder="eg. Artificial"><button class="btn btn-warning search-btn"><i class="fas fa-search"></i> <strong>&nbsp;Search</strong></button> </div>
                    
                </div>
                <div class="profile-info">
                  <div class="container row">
                    <div class="col-md-3">
                      <img src="assets/image/kamlesh.png" class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="col-md-9">
                      <h3>{{name}}</h3>
                      <a href="#" class="simple-link"><h6>kammy_boy</h6></a> &nbsp;<i class="fas fa-pen"></i>
                      <br><br>
                      <button class="btn btn-sm btn-warning" routerLink="/user-post"><strong>Your posts</strong> 10+</button> &nbsp;
                      <button class="btn btn-sm btn-light"><i class="fas fa-user-edit"></i></button>
                    </div>
                  </div>
                  <br>
                  <div class="container">
                      <h4><p>Your Bio  &nbsp;<i class="fas fa-pen"></i></p></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                  </div>

                </div>

                <div class="new-post">
                    <div class="post-card ">
                        <h4>Share an idea !</h4>
                        <br>
                        <h5 class="give-a-title">Give a title </h5>
                        <input type="text" class="new-post-title" placeholder="eg. Snapdragon is bitchin!">
                        <button class="btn btn-warning"><strong><i class="fas fa-pen"></i> Create</strong></button>
                    </div>   
                </div>