.profile-info {
  margin: 20px;
}
.profile-info .col-md-9 {
  padding: 20px;
}
.profile-info .col-md-3 {
  padding: 20px;
  text-align: center;
}
.profile-info .col-md-3 .img-fluid {
  max-height: 200px;
}
.profile-info .row {
  margin: auto;
}
.profile-info .col-md-9 .simple-link {
  display: inline-block;
}

#editProfile .modal-content {
  background: #272727;
}

#editProfile .modal-header {
  border: none;
}

#editProfile .modal-footer {
  border: none;
}

#editProfile.show {
  display: flex;
}
#editProfile .modal-dialog {
  margin: auto;
}

.modal.show {
  display: block;
}

.form-control {
  border: none;
  background: #171714;
  color: #a9aeb3;
}
.link {
  cursor: pointer;
  transition: all 0.3s ease;
}
.link:hover {
  color: var(--primary-color);
}

.user-simple-link {
  color: var(--primary-color);
}
.user-simple-link:hover {
  color: var(--primary-color);
}
.post-card {
  margin: 0px 20px 20px 20px;
}

.profile-img {
  border-radius: 160px;
}
.view-overlay {
  position: relative;
  display: inline-block;
}

.view-overlay .img-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(31, 31, 29, 0.5);
  opacity: 0;
  transition: all ease 0.3s;
}
.view-overlay:hover .img-overlay {
  opacity: 1;
}
.picker-body {
  max-height: 65vh;
  overflow-y: auto;
  text-align: center;
}
.picker-element-body {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
  position: relative;
}
.picker-img {
  max-width: 100px;
  border-radius: 50px;
  transition: opacity 0.3s;
}
.picker-img:hover {
  opacity: 0.3;
  cursor: pointer;
}

.selected .picker-img {
  opacity: 0.3;
}
.selected.picker-element-body {
  border: 5px solid white;
  border-radius: 70px;
}
.ticked {
  display: none;
}
.selected .ticked {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 2rem;
}
.selected .picker-img {
  max-width: 90px;
}
.picker-body::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}
.picker-body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.picker-body::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}
.picker-body::-webkit-scrollbar-track {
  background-color: #171717;
  cursor: pointer;
}

.follow-body::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}
.follow-body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.follow-body::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}
.follow-body::-webkit-scrollbar-track {
  background-color: #171717;
  cursor: pointer;
}
.follow-body {
  max-height: 65vh;
  overflow-y: auto;
}
.follow-element-body {
  display: block;
  margin-bottom: 5px;
  padding-bottom: 5px;
  outline: none;
  position: relative;
  cursor: pointer;
}

.follow-img {
  display: inline-block;
  max-width: 50px;
  vertical-align: inherit;
  border-radius: 50px;
  transition: opacity 0.3s;
}
.follow-element-body p {
  display: inline-block;
  padding: 5px 10px;
  margin: 0px;
  font-weight: 500;
  vertical-align: top;
  transition: all 0.3s ease;
}
.follow-element-body:hover p {
  color: var(--primary-color);
}
.follow-element-body:hover .follow-img {
  opacity: 0.5;
}
.follow-img:hover {
  cursor: pointer;
}
.modal-follow {
  min-width: 300px;
}

.edit-about {
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}
.edit-about:hover {
  color: var(--primary-color);
}
.new-post .give-a-title {
  padding: 5px 0px;
}
.new-post-title {
  margin: 0px 10px;
  width: calc(100% - 212px);
}
.follow-btn {
  border: none;
  border-radius: 5px;
  padding: 0px 10px;
  margin-top: 5px;
  color: #252523;
  background-color: var(--primary-color);
}
.unfolowed {
  background: #313130;
  color: white;
}
@media only screen and (max-width: 767px) {
  .new-post-title {
    width: 100%;
    margin: 0px;
    margin-top: 10px;
  }
  .new-post .btn {
    margin-top: 10px;
  }
  .new-post .post-card {
    text-align: right;
  }
  .new-post h4 {
    text-align: left;
  }
  .new-post .give-a-title {
    text-align: left;
    display: block;
    padding: 5px 0px;
  }
}
@media only screen and (max-width: 460px) {
  .modal-follow {
    width: 100%;
  }
}
