<div class="profile-info">
  <div class="container row">
    <div class="col-md-3" *ngIf="userDetails">
      <div class="view-overlay">
        <img
          src="assets/image/{{ userImg }}"
          class="img-fluid profile-img"
          alt="Responsive image"
        />
        <div class="img-overlay" *ngIf="!foreignUser">
          <button class="btn btn-light" (click)="openImagePickerModal()">
            <i class="fas fa-pen"></i>
          </button>
        </div>
      </div>
    </div>
    <div
      *ngIf="!userDetails"
      [ngClass]="{ 'spinner-grow text-warning spinner-grow-lg': !userDetails }"
      style="align-self: center; margin: 80px;"
    ></div>
    <div class="col-md-9" *ngIf="userDetails">
      <h3>
        {{ userDetails.name }}
        <button
          class="btn btn-sm btn-warning"
          (click)="editProfileModal = 1"
          *ngIf="!foreignUser"
        >
          <strong>Edit </strong
          ><i class="fas fa-pen simple-link" style="color: black;"></i>
        </button>
      </h3>
      <a class="simple-link" style="display: block;"
        ><h6>{{ userDetails.username }}</h6></a
      >
      &nbsp;
      <div style="display: block;">
        <button
          class="btn btn-sm btn-outline-warning"
          routerLink="/user-post"
          *ngIf="!foreignUser"
        >
          <strong>Your posts</strong>
        </button>
        &nbsp;
        <a class="link" (click)="editPasswordModal = 1" *ngIf="!foreignUser"
          >change password</a
        >
      </div>
    </div>
  </div>
  <div
    class="modal"
    id="editProfile"
    [ngClass]="{ show: editProfileModal == 1 }"
  >
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit Profile</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            (click)="editProfileModal = 0"
            style="color: white;"
          >
            &times;
          </button>
        </div>

        <!-- Modal body -->

        <div class="modal-body" *ngIf="userDetails">
          <form [formGroup]="form1">
            <label for="rname">Enter your name:</label>
            <div
              [ngClass]="{
                'spinner-grow text-warning spinner-grow-sm':
                  editNameLoading == 1
              }"
            ></div>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                [value]="userDetails.name"
                formControlName="rname"
                [ngClass]="{ 'is-invalid': form1.get('rname').invalid }"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-warning"
                  [disabled]="form1.invalid"
                  type="submit"
                  (click)="updateName()"
                >
                  Update
                </button>
              </div>
              <div
                class="invalid-feedback"
                *ngIf="form1.get('rname').hasError('required')"
              >
                Please enter your name
              </div>
            </div>
          </form>
        </div>
        <!-- Modal footer -->
      </div>
    </div>
  </div>
  <div
    class="modal"
    [ngClass]="{ show: editPasswordModal == 1 }"
    id="editProfile"
  >
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit Password</h4>
          <button
            type="button"
            class="close"
            (click)="editPasswordModal = 0"
            style="color: white;"
          >
            &times;
          </button>
        </div>

        <!-- Modal body -->

        <div class="modal-body" *ngIf="userDetails">
          <form [formGroup]="form3">
            <div class="form-group" style="margin-bottom: 0em;">
              <label for="pwd" class="mr-sm-2">Password:</label>
              <input
                autocomplete="on"
                type="text"
                class="form-control is-invalid"
                [value]="userDetails.password"
                formControlName="rpassword"
                [ngClass]="{
                  'is-invalid':
                    form3.get('rpassword').touched &&
                    form3.get('rpassword').invalid
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="form3.get('rpassword').hasError('required')"
              >
                Please enter a password
              </div>
              <div
                class="invalid-feedback"
                *ngIf="form3.get('rpassword').hasError('pattern')"
              >
                Password should be greater than 8 characters, atleast an
                alphabet and a digit
              </div>
            </div>
            &nbsp; &nbsp;
            <div class="form-group">
              <label for="pwd" class="mr-sm-2">Confirm Password:</label>
              <input
                autocomplete="on"
                type="text"
                class="form-control is-invalid"
                [value]="userDetails.password"
                formControlName="rcpassword"
                [ngClass]="{
                  'is-invalid':
                    form3.get('rcpassword').touched &&
                    (form3.get('rcpassword').invalid || form3.errors?.mismatch)
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="form3.get('rcpassword').hasError('required')"
              >
                Password can not be empty!
              </div>
              <div class="invalid-feedback" *ngIf="form3.errors?.mismatch">
                Passwords didn't match
              </div>
              <br />
              <button
                class="btn btn-warning"
                type="submit"
                [disabled]="form3.invalid"
                (click)="updatePassword()"
              >
                Update
              </button>
              <div
                [ngClass]="{
                  'spinner-grow text-warning spinner-grow-sm':
                    editPasswordLoading == 1
                }"
              ></div>
            </div>
          </form>
        </div>
        <!-- Modal footer -->
      </div>
    </div>
  </div>

  <div class="modal" [ngClass]="{ show: editProfilePic == 1 }" id="editProfile">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Choose an Avatar</h4>
          <button
            type="button"
            class="close"
            (click)="editProfilePic = 0"
            style="color: white;"
          >
            &times;
          </button>
        </div>

        <div class="modal-body">
          <div class="picker-body">
            <div
              class="picker-element-body"
              *ngFor="let avatar of allImg"
              [ngClass]="{ selected: avatar == selectedImg }"
              (click)="selectedImg = avatar"
            >
              <img src="assets/image/{{ avatar }}" class="picker-img" />
              <div class="ticked"><i class="fas fa-check-circle"></i></div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" (click)="saveImagePickerImg()">
            Save <i class="fas fa-save"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--Modal for About-->
  <div
    class="modal"
    [ngClass]="{ show: editAboutModal == 1 }"
    id="editProfile"
    *ngIf="userDetails"
  >
    <div class="modal-dialog modal-md" style="width: 100%;">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit your about</h4>
          <button
            type="button"
            class="close"
            (click)="editAboutModal = 0"
            style="color: white;"
          >
            &times;
          </button>
        </div>
        <form [formGroup]="formAbout">
          <div class="modal-body">
            <textarea
              class="form-control"
              rows="5"
              cols="10"
              formControlName="rabout"
              [ngClass]="{
                'is-invalid':
                  formAbout.get('rabout').touched &&
                  formAbout.get('rabout').invalid
              }"
              id="edit-about"
            ></textarea>
            <div
              class="invalid-feedback"
              *ngIf="
                formAbout.get('rabout').touched &&
                formAbout.get('rabout').invalid
              "
            >
              About can not be empty!
            </div>
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-warning"
              [disabled]="formAbout.invalid"
              (click)="updateAbout()"
            >
              Save <i class="fas fa-save"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <br />
  <div class="container" *ngIf="userDetails">
    <h4>
      <p>
        About &nbsp;<i
          class="fas fa-pen edit-about"
          (click)="editAboutModal = 1"
          *ngIf="!foreignUser"
        ></i>
      </p>
    </h4>
    <p>
      {{
        !userDetails.about
          ? "Hi, I am a human being! This is about me, but I am too lazy to update it."
          : userDetails.about
      }}
    </p>
  </div>
</div>

<div class="new-post" *ngIf="!foreignUser">
  <div class="post-card">
    <h4>Share an idea !</h4>
    <br />
    <h5 class="give-a-title">Give a title</h5>
    <input
      type="text"
      [(ngModel)]="title"
      class="new-post-title"
      placeholder="eg. Snapdragon is bitchin!"
    />
    <button (click)="createPost()" class="btn btn-warning">
      <strong><i class="fas fa-pen"></i> Create</strong>
    </button>
  </div>
</div>

<!-- loading posts of foreign user -->
<div *ngFor="let post of postData?.reverse()">
  <div class="post-card post post-selectable" routerLink="/post/{{ post.id }}">
    <div class="container row">
      <div class="col-md-4">
        <img
          src="{{
            post.image != null && post.image != ''
              ? post.image
              : 'assets/no-image.png'
          }}"
          onError="this.src='assets/no-image.png'"
          class="img-fluid img-responsive user-post-img"
          alt="Responsive image"
        />
      </div>
      <div class="col-md-5">
        <div class="inner-content">
          <h4 style="margin-bottom: 0.5rem;">
            <a class="simple-link">{{ post.title }}</a>
          </h4>
          <p>
            <span style="opacity: 0.6;">
              posted on {{ post.timestamp | date: "yyyy-MM-dd h:mm a" }}
            </span>
          </p>
          <p>
            {{ post.likes }}
            <i class="fas fa-thumbs-up"></i>&nbsp; &nbsp;
            {{ post.comments }}
            <i class="fas fa-comment"></i> &nbsp; &nbsp; 146
            <i class="fas fa-share"></i>
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <button
          class="btn btn-warning read-more btn-sm user-post-view"
          routerLink="/post/{{ post.id }}"
        >
          View <i class="fas fa-glasses"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal-backdrop show"
  *ngIf="editPasswordModal == 1 || editProfileModal == 1 || editProfilePic == 1"
></div>
