.profile-info {
  margin: 20px;
}
.profile-info .col-md-9 {
  padding: 20px;
}
.profile-info .col-md-3 {
  padding: 20px;
  text-align: center;
}
.profile-info .col-md-3 .img-fluid {
  max-height: 200px;
}
.profile-info .row {
  margin: auto;
}
.profile-info .col-md-9 .simple-link {
  display: inline-block;
}

#editProfile .modal-content {
  background: #272727;
}

#editProfile .modal-header {
  border: none;
}

#editProfile .modal-footer {
  border: none;
}

#editProfile.show {
  display: flex;
}
#editProfile .modal-dialog {
  margin: auto;
}

.modal.show {
  display: block;
}

.form-control {
  border: none;
  background: #171714;
  color: #a9aeb3;
}
.link {
  cursor: pointer;
  transition: all 0.3s ease;
}
.link:hover {
  color: #f9a825;
}

.user-simple-link {
  color: #ffc107;
}
.user-simple-link:hover {
  color: #ffc107;
}
.post-card {
  margin: 0px 20px 20px 20px;
}
