
                <div class="search">
                    
                    <div class="search-box"><input type="text" placeholder="eg. Artificial"><button class="btn btn-warning search-btn"><i class="fas fa-search"></i> <strong>&nbsp;Search</strong></button> </div>
                    
                </div>
                <div class="new-post">
                    <div class="post-card ">
                        <h4>Share an idea !</h4>
                        <br>
                        <h5 class="give-a-title">Give a title </h5>
                        <input type="text" [(ngModel)]="title" class="new-post-title" placeholder="eg. Snapdragon is bitchin!" >
                        <button (click)="createPost()" class="btn btn-warning"><strong><i class="fas fa-pen"></i> Create</strong></button>
                    </div>   
                </div>
                <div class="top-posts">
                    <h5>Top posts <span class="badge badge-warning">25</span></h5>
                    <div class="post-filters"><h4><span class="badge badge-dark">#all</span><span class="badge badge-dark">#pc</span><span class="badge badge-dark">#AI</span><span class="badge badge-dark">#cloud</span></h4></div>
                    
                    <div class="post-card post" routerLink="/post">
                        <div class="container row">
                            <div class="col-md-4"><img src="https://www.itprotoday.com/sites/itprotoday.com/files/styles/article_featured_retina/public/ai-kishore%20kumar.jpg?itok=zEACWRA3" class="img-fluid" alt="Responsive image"></div>
                            <div class="col-md-8">
                                <h4 style="margin-bottom:.5rem"><a class="simple-link" >The AI Impact on Business</a></h4>
                                <p>Artificial intelligence has gone from the stuff of science fiction to our everyday lives. Automation..</p>
                                <p>4k <i class="fas fa-thumbs-up"></i>&nbsp; &nbsp; 1k <i class="fas fa-comment"></i> &nbsp; &nbsp; 146 <i class="fas fa-share"></i></p>
                            </div>
                        </div>
                        
                    </div>
                    <br>
                    <div class="post-card post" routerLink="/post">
                         <div class="container row">
                            <div class="col-md-4"><img src="https://images.hothardware.com/contentimages/newsitem/44807/content/Ryzen.jpg" class="img-fluid" alt="Responsive image"></div>
                            <div class="col-md-8">
                                <h4 style="margin-bottom:.5rem"><a class="simple-link" >AMD Ryzen 5 2500X Benchmarks</a></h4>
                                <p>Right around two months ago, AMD rolled out its initial second generation Ryzen processor lineup..</p>
                                <p>4k <i class="fas fa-thumbs-up"></i>&nbsp; &nbsp; 1k <i class="fas fa-comment"></i> &nbsp; &nbsp; 146 <i class="fas fa-share"></i></p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="post-card post" routerLink="/post">
                        
                        <div class="container row">
                            <div class="col-md-4"><img src="https://c.ndtvimg.com/2019-11/ubephfos_elon-musk-accidentally-breaks-tesla-cybertrucks-unbreakable-glass_625x300_22_November_19.jpg" class="img-fluid" alt="Responsive image"></div>
                            <div class="col-md-8">
                                <h4 style="margin-bottom:.5rem"><a class="simple-link">A 'smashing' success?</a> </h4>
                                <p>It was a strange and yet somehow familiar scene. Awkward Elon standing in front of his followers, ..</p>
                                <p>4k <i class="fas fa-thumbs-up"></i>&nbsp; &nbsp; 1k <i class="fas fa-comment"></i> &nbsp; &nbsp; 146 <i class="fas fa-share"></i></p>
                            </div>
                        </div>
                    </div><br>
                    <p class="load-more-posts lead"><a class=" simple-link"href="#">load more</a></p>
                </div> 
                
                

